# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cryptopp usage
cryptopp-8.9/
cryptopp/

# Visual studio specific
.vs/
Win32/
x64/

# Ignoring clang format in include (hard link of the one inside the solution)
include/kryptopp/.clang-format
